/* -- @author Thomas Mook -- */
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}
body {
	background: url(bilder/regBild.jpg) no-repeat center center fixed;
	background-position: center; 
	background-size: cover;
	font-family: sans-serif;
}
.titel {
	width: 800px;
	background-color: rgb(0,0,0,0.6);
	margin:50px auto auto auto;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
.impressum {
	overflow: auto;
	color: white;
	border-radius: 0px 0px 15px 15px;
	width: 800px;
	height: auto;
	background-color: rgb(0,0,0,0.5);
	margin: auto;
	text-align: center;
}
.button {
	position: relative;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #0174DF;
	padding: 10px 30px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	curser: pointer;
}
.impressum button[type = "submit"]:hover {
	background:#0174DF;
}
.impressum a {
	color:white;
	text-decoration:none;
}