/* -- @author Thomas Mook -- */
@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(bilder/logout.jpg) no-repeat center center fixed;;
	background-position: center; 
	background-size: cover;
	font-family: sans-serif;

}
.logout {
	margin-top: 300px;
	margin-left: 50px;
	color: white;
	font-size:18px;
	text-align: center;
	float: left;
}
.logout h3 {
	color:white;
	text-align: center;
	font-size: 25px;
}
.button {
	position: relative;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #0174DF;
	padding: 10px 30px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	curser: pointer;
	width:175px;
}
.logout button[type = "submit"]:hover {
	background:#0174DF;
}
.logout a {
	color:white;
	text-decoration:none;
}